.imgCont {
    width: 100%;
    height: 400px;
}
.smail {
    width: 15px;
}
.status {
    margin: 20px;
    font-weight: bold ;
    color: #770477;
}
.image {
    width: 150px;
    border-radius: 50%;
}
h4 {
    padding-left:20px ;
}
 .contact {
    padding-left:20px ;
}

.formError {
    max-width: 250px;
    border: 1px solid red;
    padding: 5px;
    color: white;
    text-align: center;
    background: #f63d3d;
}
