
.photo {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-left: 20px;
}

/* .active {*/
/*    font-weight: bold;*/
/*     cursor: pointer;*/
/* }*/

/*  .pagesNum {*/
/*    font-size: 20px;*/
/*    padding: 10px;*/
/*}*/

/*.paginator{*/
/*    cursor: pointer;*/
/*    margin: 10px;*/

/*}*/
/*.pageNumber{*/
/*    padding: 2px;*/
/*    border: 1px solid grey;*/
/*    !*border-right: 0 ;*!*/
/*}*/
/*.selectedPage{*/
/*    font-weight: bold;*/
/*    border-color: black;*/

/*}*/