.posts {
    margin: 30px 0 30px 10px;
}
.head {
    margin: 20px;
}
 .btn {
    background: #7b68f8;
    color: #fcfaa9;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
     cursor: pointer;
     /*position: relative;*/
     top: 10px;
     /*right: 140px;*/
}
