
.modul {
    width: 450px;
    border: 1px solid black;
    background: #f63d3d;
    color: white;
    font-weight: bold;
    font-size: 2em;
    margin: 10%;
    text-align: center;
    padding: 10px;
}