
.bg {
    display: grid;
    grid-template-columns: 3fr 9fr;
    background: #fcfaa9;
}

textarea {
    margin: 20px 0 10px 0;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #eedd8f;
    margin: 20px 0 0 100px;
}

.active {
    position: relative;
    right: 200px;
}

.dialog {
    min-width: 50px;
}