
.post {
    margin-top: 40px;

}
.button {
    margin-bottom: 20px;
}
.foto {
    margin: 20px;
    width: 200px;
    border-radius: 10px;
}

     /*PAGES*/
.pag {
    border: 1px solid black;
    border-right: 0;
    padding: 2px;
    cursor: pointer;
}
.pag:last-child {
    border-right: 1px solid black;
}
 .active {
    font-weight: bold;
    color: #960f0f;
    border: 1px solid #960f0f;
    padding: 2px;
    border-right: 0;
    cursor: pointer;
}
.active:last-child {
    border-right: 1px solid #960f0f;
}

.marg {
    margin: 20px 0 0 0;
}